html {
  background-color: #000;
  color: #7FFB4E;
  font-family: "Courier New";
  font-size: 20px;
}

section {
  margin: 50px 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

input {
  background-color: #000;
  background-image: none;
  background-color: transparent;
  border: 1px solid #7FFB4E;
  border-radius: 2px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: #7FFB4E;
  font-family: "Courier New";
  font-size: 20px;
  flex: 1;
  outline: none;
  padding: 20px;
}

input::placeholder {
  color: #7FFB4E;
  opacity: 0.5;
  font-family: "Courier New";
  font-size: 20px;
}

a, a:visited, a:hover {
  color: #7FFB4E;
  display: inline-block;
  text-decoration: none;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:disabled {
  opacity: 0.25;
  cursor: default;
}

button, .buttonStyleLink, .buttonStyleLink:visited, .buttonStyleLink:hover {
  border: 1px solid #7FFB4E;
  border-radius: 2px;
  font-weight: bold;
  padding: 20px;
}

.help {
  border: 2px solid #7FFB4E;
  border-radius: 50px;
  float: right;
  font-weight: bold;
  font-size: 30px;
  margin-top: -30px;
  padding: 10px 20px;
  transition: font-size 100ms;
}

.help:hover {
  cursor: pointer;
  font-size: 35px;
}

.buttonStyleLink {
  transition: margin 100ms;
}

.buttonStyleLink:hover {
  margin: 2px 0 0 2px;
  transition: margin 100ms;
}

.main {
  margin: 100px auto 0;
  width: 900px;
}

.challenge {
  border-top: 1px solid #7FFB4E;
  display: flex;
  margin-top: 25px;
  padding-top: 100px;
}

.invisible {
  cursor: default;
  display: inline-block;
  margin: 200px 0 0 700px;
  opacity: 0;
}
