html {
  background-color: #000;
  color: #7FFB4E;
  font-family: "Courier New";
  font-size: 20px;
}

section {
  margin: 50px 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

input {
  background-color: #000;
  background-image: none;
  background-color: transparent;
  border: 1px solid #7FFB4E;
  border-radius: 2px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: #7FFB4E;
  font-family: "Courier New";
  font-size: 20px;
  flex: 1;
  outline: none;
  padding: 20px;
}

input::placeholder {
  color: #7FFB4E;
  opacity: 0.5;
  font-family: "Courier New";
  font-size: 20px;
}

a, a:visited, a:hover {
  color: #7FFB4E;
  display: inline-block;
  text-decoration: none;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:disabled {
  opacity: 0.25;
  cursor: default;
}

button, .button-style-link, .button-style-link:visited, .button-style-link:hover {
  border: 1px solid #7FFB4E;
  border-radius: 2px;
  font-weight: bold;
  padding: 20px;
}

.help-section {
  float: right;
}

.help-button {
  border: 2px solid #7FFB4E;
  border-radius: 50px;
  cursor: pointer;
  float: right;
  font-weight: bold;
  font-size: 24px;
  margin-right: 15px;
  padding: 5px 12px;
  opacity: 1;
  transition: opacity 100ms;
}

.help-button.closed {
  opacity: 0.5;
}

.help-blurb {
  border: 1px solid #7FFB4E;
  border-radius: 2px;
  float: right;
  padding: 0 20px;
  opacity: 1;
  transition: opacity 100ms;
  width: 310px;
}

.hidden {
  opacity: 0;
}

.form {
  display: flex;
}

.error {
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.button-style-link {
  transition: margin 100ms;
}

.button-style-link:hover {
  margin: 2px 0 0 2px;
  transition: margin 100ms;
}

.main, .index {
  margin: 100px auto 0;
  width: 900px;
}

.challenge {
  border-top: 1px solid #7FFB4E;
  margin-top: 25px;
  padding-top: 50px;
  position: relative;
}

.blocker {
  background: #7FFB4E;
  height: 200px;
  position: absolute;
  top: 0;
  width: 400px;
}

.password-img {
  background-image: url("/images/pw.png");
  background-size: contain;
  display: none;
  height: 50px;
  margin: 0 auto;
  width: 400px;
}
